body {
  background-color: #fffaf5;
  font-family: 'Segoe UI', sans-serif;
  padding-top: 70px;
}

.navbar {
  background-color: #a0522d;
}

.navbar-brand, .nav-link {
  color: white !important;
  font-weight: bold;
}

.recipe-title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

.recipe-description {
  margin-bottom: 20px;
  color: #555;
  font-size: 18px;
}

.recipe-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  background-color: transparent;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.section-title {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 22px;
}

ul, ol {
  padding-left: 20px;
  font-size: 16px;
}



.border-dashed {
    border: 5px dashed #ccc;
    border-radius: 10px;
    padding: 30px;
    background-color: #fdfdfd;
    cursor: pointer;
    transition: border-color 0.3s ease;
    min-height: 240px;
    position: relative;
  }
  
  .border-dashed.dragover {
    border-color: #a0522d;
    background-color: #fffaf0;
  }
  
  #drop-message {
    color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image-wrapper {
    max-width: 180px;
    max-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  
  #image-preview {
    max-height: 100%;
    object-fit: cover;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: center;
  }
  .section-title {
    font-weight: bold;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .card.text-center a {
    text-decoration: none;
  }
  
  .card.text-center img {
    border-radius: 12px;
    background-color: #ddd;
  }
  


  @media print {
    .no-print, .navbar, .btn, .card, .row, a {
      display: none !important;
    }
  
    body {
      background-color: white;
      color: black;
    }
  
    .recipe-image {
      max-width: 90%;
      margin-bottom: 20px;
    }
  
    .recipe-title {
      font-size: 26px;
      font-weight: bold;
    }
  
    .recipe-description,
    .section-title,
    ul,
    ol {
      font-size: 16px;
    }

    .related-section {
      display: none !important;
    }
  }
  
 
  
  